[Desktop Entry]
Type=Application
Name=QymCAD
GenericName=Parametric CAD/CAM
Comment=Parametric associative B-rep CAD/CAM
Exec=qymcad
Icon=qymcad
Terminal=false
Categories=Graphics;3DGraphics;Engineering;
Keywords=CAD;CAM;CNC;B-rep;parametric;
